<?xml version="1.0"?>
<Settings>
   <ARIA_SERVER>rsdb279.reg.skane.se</ARIA_SERVER>
   <ARIA_USERNAME>reports</ARIA_USERNAME>
   <ARIA_PASSWORD>reports</ARIA_PASSWORD>
   <ARIA_DATABASE>variansystem</ARIA_DATABASE>
   <RESULT_SERVER>RVP\SQLEXPRESS</RESULT_SERVER>
   <RESULT_USERNAME>adm</RESULT_USERNAME>
   <RESULT_PASSWORD>admradfys</RESULT_PASSWORD>
</Settings>
